@import './variables';

@mixin input {
	border-radius: 4px;
	margin-bottom: 1em;
	border: none;
	width: 19em;
	padding: .5em;
	font-size: .95rem;
	background-color: $dark-violet;
	color: #fff;

	&::placeholder{
		color: #cccccc;
	}

	&:focus{
		outline: none;
	}
}