@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	font-weight: 400;

	a{
		text-decoration: none;
		color: #000;
	}
}

@import './layouts/registerPage';

@import './layouts/verificationPage';

@import './layouts/pageNotFound';