.active-single-only{
	border-radius: 4px !important;
	cursor: auto !important;
}

.changePasswordForm{
	display: flex;
	flex-direction: column;
	
	input{
		@include input;
		width: 16em;
		margin-bottom: 0.2em;
	}
	
	span{
    font-size: .87rem;
    margin-bottom: 1em;
	}

	.confirm-password-span{
		color: $error-red;
		margin-bottom: 0;
		visibility: hidden;
	}

	.confirm-password{
		margin-bottom: .5em;
	}

	.submitPassword{
		margin-top: .5em;

		input{
			width: 6em;
			background-color: $green;
			border: none;
			padding: .4em 0;
			font-size: 1rem;
			cursor: pointer;
		}
	}
}