.register{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: -5em;
	height: 25em;
	width: 20em;

	.message{
		position: absolute;
		bottom: 1.3em;
		left: 7em;
		color: $error-red;
		font-size: .9rem;
	}

	.login-message {
		color: $error-red;
		font-size: .9rem;
		margin: -.5em 0 0.2em 0 !important;
	}

	.heading{
		display: flex;
		justify-content: space-around;
		align-self: stretch;

		button{
			width: 100%;
			border: none;
			cursor: pointer;
			border: 1px 0 0 1px solid $dark-violet;
			border-radius: 4px 0 0 4px;
			font-size: 1.2rem;
			padding: .6em 0.30em;
			background: #fff;

			&:nth-last-child(1) {
				border-radius: none;
				border-radius: 0 4px 4px 0;
				border: 0 1px 1px 0 solid $dark-violet;
			}
		}

		.active{
			background-color: $green;
		}
	
		.non-active{
			background-color: #e6e6e6;
		}
	}

	.sign-in form, .sign-up form{
		display: flex;
		flex-direction: column;
		position: relative;

		span{
			font-size: 0.85rem;
			margin: -.8em 0 .6em 0;
		}

		input{
			@include input;
		}

		div{
			display: flex;
			flex-direction: column;

			.verifyPassword{
				color: $error-red;
				visibility: hidden;
			}
		}

		.name{
			display: flex;
			flex-direction: row;
			
			input{
				@include input;
				width: 11em;
				margin-right: 1em;
				margin-bottom: .8em;
			}
		}

		.bi{
			color: #fff;
			position: absolute;
			top: 5em;
			right: .3em;
			font-size: 1.3em;
			cursor: pointer;
		}

		.submit{
			display: flex;
			flex-direction: row;
			align-items: baseline;
			margin-top: .5em;

			input{
				width: 5em;
				background-color: $green;
				border: none;
				padding: .4em 0;
				font-size: 1rem;
				cursor: pointer;
			}

			span{
				color: #808080;
				margin-left: 4em;
				font-size: .9rem;

				a{
					text-decoration: none;
					color: #000;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	.activeForm{
		display: flex;
		margin-top: 3em;
	}

	.deactive{
		display: none;
	}
}