.frame {
	margin-top: -7em;
	position: relative;

	.solid-background {
		background-color: $solid-green;
		height: 40vh;
		width: 80vw;
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 2em;
		border-radius: 5px;
		margin-bottom: 2em;

		span{
			font-size: 3rem;
			font-weight: 700;
			width: 10em;
			color: $cyan;
		}
	}

	h6{
		font-size: 1.05rem;
		margin-bottom: .2em;
	}

	/********************************************
	Forgot Password
	*********************************************/
	.email{
		display: flex;
		flex-direction: column;

		label{
			font-size: 1rem;
			font-weight: 500;
		}
		
		input{
			@include input;
			margin: .5em 0 0 0;
			width: 18em;
		}
	}

	.send-email{
		margin-top: 1em;
		padding: .7em;
	}

	/**********************************************
	Forgot Password Ends
	***********************************************/

	p{
		width: 60vw;
		font-size: 1.3rem;
	}

	button{
		border: none;
		border-radius: 3px;
		padding: .7em;
		margin-top: 2em;
		background-color: $cyan;
		font-size: 1rem;
		color: #fff;
	}

	.email-sent-info, .valid-email-info {
		color: $error-red;
		margin-left: 1em;
	}

	.valid-email-info, .email-sent-timer{
		position: absolute;
		bottom: .7em;
		left: 6.5em;
	}
}